@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


/* Setup */

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit}
.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Setup^^ */

.App {
  width: 100%;
  margin: 0 auto;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  background-color: #121212;
  color: #282c34;
  font-family: 'Cabin', sans-serif;
  height: 100vh;
}

video {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}

header {
  position: relative;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  /* color: #ac91a0; */
  color: #b7bbbb;

  width: 100%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  margin: 7px 0 0 6px;
  display: block;
  opacity: .9;
}

.heading-container {
  display: flex;
  padding: 10px;
  margin: 60px;
}

.juno {
  margin: 100px 60px 0;
  font-size: 20px;
}

.juno-link {
  margin: 0 10px;
  text-decoration: none;
  color: #e6d5b8;
  text-emphasis: bold;
}

.logo {
  height: 8rem;
  width: 5rem;
  margin: 0 40px;
  opacity: .8;
  animation: shake 3s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


a:hover {
  color: #eded7b;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
  width: 80%;
  top: 40%;
  left: 9%;
}

form:focus-within {
  opacity: 1;
}

.search-button, input[type="text"] {
  display: block;
  margin-top: 20px;
}

.search-button {
  width: 68.5%;
  font-size: 18px;
  padding: 13px;
  background: rgba(0, 0, 0, 0.7);
  color: #b6b3af;
  font-family: 'Cabin', sans-serif;
  transition-duration: 0.1s;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 5px grey;
}

.search-button:hover {
  transform: scale(1.09);
  transition: all .2s ease-in-out;
  backface-visibility: hidden;
  perspective: 1000px;
}

.search-button:active {
  background-color: grey;
}

input[type="text"] {
  width: 65%;
  padding: 18px;
  color: white;
  font-size: 18px;
  font-family: 'Cabin', sans-serif;
  transition: all .2s ease-in-out;
  position: relative;
  background: transparent;
  border: none;

  /* color: #b6b3af; */
  border-radius: 5px;
  box-shadow: 0px 0 5px grey;
}

input[type="text"]:hover {
  transform: scale(1.04);
}

input[type="text"]::placeholder {
  font-size: 18px;
  font-family: 'Cabin', sans-serif;
  color: white;
}

.results-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

ul {
  margin: 0 auto;
  padding: 0;
}

.arrow-container {
  position: absolute;
  bottom: 0;
  left: 46%;
  opacity: .4;
  animation: fadeIn ease-in-out 3s;
  padding-bottom: 30px;
}

.arrow-container:hover {
  opacity: .7;
}

.arrow {
  color: white;
  width: 6rem;
  height: 6rem;
  transition: all .4s ease-in-out;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:.4;}
} 

.arrow:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.arrow:active {
  color: #121212;
}

/* Media Queries */

/* tablets and small laptops */

@media (max-width: 996px) {

  form {
    left: 80px;
  }

  video {
    height: 0;
  }

}

/* tablets */

@media (max-width: 599px) {
    
  form {
  flex-wrap: wrap;
  left: 60px;
  }

  header {
    justify-content: space-around;
    width: 100%;
    margin-top: 0;
  }

  .juno {
    font-size: 15px;
    margin: 0;
    height: 30px;
    margin-right: 100px;
  }

  .juno-link {

    width: 400px;
  }

  .search-button {
    width: 90%;
  }

  input[type="text"] {
    width: 80%;
  }
}

/* phones */

@media (max-width: 452px) {

  header {
    justify-content: flex-start;
    width: 100%;
    margin: 0;
  }

  input[type="text"] {
    background: rgba(0, 0, 0, 0.7);
  }
  
  form {
    margin-top: 60px;
    left: 50px;
  }

  h1 {
    margin-top: 40px;
  }

  h2, p {
    padding: 0;
  }

  .juno {
    margin: 19px 244px 45px -40px;
    font-size: 13px;
  }

  .logo {
    display: none;
  }

  .arrow {
  width: 4rem;
  }

}
