@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.App {

}

body {
  /* background-color: #282c34; */
  background-color: #121212;
  color: #282c34;
  font-family: 'Cabin', sans-serif;
}

header {
  background-color: #f0a500;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 35px;
  margin: 7px 0 0 6px;
}

.heading-container {
  display: flex;
  padding: 10px;
}

nav {
  margin: 20px 60px 0;
  font-size: 14px;
}

span {
  display: block;
  margin-top: 5px;
}

svg {
  height: 5em;
  width: 3em;
  margin: 0 30px;
}

a {
  margin: 0 5px;
  text-decoration: none;
  color: #282c34;
  text-emphasis: bold;
}

a:hover {
  color: #e6d5b8;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  height: 100px;
  justify-content: space-between;
}

button, input[type="text"] {
  display: block;
}

button {
  width: 70%;
  font-size: 18px;
  padding: 8px;
  background-color: #484a4f;
  color: white;
  opacity: .7;
  font-family: 'Cabin', sans-serif;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  background-color: #484a4f;
  color: white;
  font-size: 18px;
  font-family: 'Cabin', sans-serif;
}

input[type="text"]::placeholder {
  font-size: 18px;
  font-family: 'Cabin', sans-serif;
}

li {
  font-size: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
