@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.App {
  width: 100%;
  margin: 0 auto;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  background-color: #121212;
  color: #282c34;
  font-family: 'Cabin', sans-serif;
  height: 100vh;
}

video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

header {
  position: relative;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  margin: 7px 0 0 6px;
}

.heading-container {
  display: flex;
  padding: 10px;
  margin: 60px;
}

.juno {
  margin: 20px 60px 0;
  font-size: 20px;
}

.juno-link {
  margin: 0 10px;
  text-decoration: none;
  color: yellow;
  text-emphasis: bold;
}

.logo {
  height: 8rem;
  width: 5rem;
  margin: 0 40px;
}


a:hover {
  color: #e6d5b8;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50%;
  top: 35%;

}

form:focus-within {
  opacity: 1;
}

.search-button, input[type="text"] {
  display: block;
  margin-top: 20px;
}

.search-button {
  width: 70%;
  font-size: 18px;
  padding: 13px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  font-family: 'Cabin', sans-serif;
  transition-duration: 0.1s;
  border: none;
  border-radius: 5px;
}

.search-button:hover {
  transform: scale(1.09);
  transition: all .2s ease-in-out;
}

.search-button:active {
  background-color: black;
}

input[type="text"] {
  width: 65%;
  padding: 18px;
  color: white;
  font-size: 18px;
  font-family: 'Cabin', sans-serif;
  transition: all .2s ease-in-out;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  border: none;
  border-radius: 5px;
}

input[type="text"]:hover {
  transform: scale(1.04);
}

input[type="text"]::placeholder {
  font-size: 18px;
  font-family: 'Cabin', sans-serif;
}

.results-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* stripping defaul styles */
ul {
  margin: 0 auto;
  padding: 0;
  /* margin: 50px; */
}

