li {
    background-color: #202020;
    width: 20%;
    height: 280px;
    margin: 20px;
    color: white;
    list-style-type: none;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease-in-out;
    animation: fadeIn ease-in .4s;
    opacity: .8;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:.8;}
} 

li:hover {
    transform: scale(1.1); 
    opacity: 1;
    background: transparent;
    box-shadow: 10px 10px #d3155e;
}

h2, p {
    padding-left: 10px;
}

p {
    height: 80px;
}
.brewery-nav {
    display: flex;
    align-items: center;
    width: 90%;
    height: 10px;
    padding: 30px;
}

.globe, .phone, .maps {
    height: 2rem;
    padding-right: 20px;
}

.globe {
    width: 2.7rem;
    margin: 0;
    /* color: #93329e; */
    color: #d3155e;
    transition-duration: 0.3s;
}

.globe:hover {
    transform: scale(1.2);
}

.phone {
    width: 2.7rem;
    color: #d3155e;
    transition-duration: 0.3s;
}

.phone:hover {
    transform: scale(1.2);
}

.maps {
    width: 3rem;
    color: teal;
    transition-duration: 0.3s;
    cursor: ne-resize;
}

.maps:hover {
    transform: scale(1.2);
}

.maps-button, .phone-button {
    border: none;
    background-color: transparent;
    padding: 0;
}

.address {
    margin-top: 0;
}

/* Media Queries */

/* tablets and small laptops */

@media (max-width: 996px) {

    li {
        justify-content: space-around;
    }
}

/* tablets */

@media (max-width: 843px) {
    
    li {
        width: 40%;
    }
}

/* tablets and phones */

@media (max-width: 599px) {
    
    li {
        width: 70%;
    }
}

